.test h4 {
  text-align: center;
}

class:

.special {
  color: orange;
  font-weight: bold;
}

.blueish {
  color: blue;
  font-weight: bold;
  font-size: 10 px;
}
greenish {
  color: green;
  font-weight: bold;
  font-size: 10 px;
}
